USE [master]
GO
/****** Object:  Database [NIKULISP321INVENTAR]    Script Date: 07.10.2024 12:11:32 ******/
CREATE DATABASE [NIKULISP321INVENTAR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NIKULISP321INVENTAR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NIKULISP321INVENTAR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NIKULISP321INVENTAR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NIKULISP321INVENTAR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NIKULISP321INVENTAR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NIKULISP321INVENTAR]
GO
/****** Object:  Table [dbo].[ALLDATA]    Script Date: 07.10.2024 12:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLDATA](
	[ID] [int] NOT NULL,
	[IDROLE] [int] NOT NULL,
	[LNAME] [nvarchar](50) NOT NULL,
	[FNAME] [nvarchar](50) NOT NULL,
	[PATRONYMIC] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](max) NOT NULL,
	[LOGIN] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[TELEPHONE] [nvarchar](50) NOT NULL,
	[PARTPASSPORT] [int] NOT NULL,
	[NUMPASSPORT] [int] NOT NULL,
	[DATEOFBIRTH] [date] NOT NULL,
	[LASTENTRE] [datetime] NULL,
	[IDTYPEENTRE] [int] NULL,
	[IDGENDER] [int] NOT NULL,
 CONSTRAINT [PK_ALLDATA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENDER]    Script Date: 07.10.2024 12:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENDER](
	[ID] [int] NOT NULL,
	[GENDER] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GENDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 07.10.2024 12:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] NOT NULL,
	[ROLE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPEENTER]    Script Date: 07.10.2024 12:11:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPEENTER](
	[ID] [int] NOT NULL,
	[TYPEENTER] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TYPEENTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALLDATA]  WITH CHECK ADD  CONSTRAINT [FK_ALLDATA_GENDER] FOREIGN KEY([IDGENDER])
REFERENCES [dbo].[GENDER] ([ID])
GO
ALTER TABLE [dbo].[ALLDATA] CHECK CONSTRAINT [FK_ALLDATA_GENDER]
GO
ALTER TABLE [dbo].[ALLDATA]  WITH CHECK ADD  CONSTRAINT [FK_ALLDATA_ROLE] FOREIGN KEY([IDROLE])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[ALLDATA] CHECK CONSTRAINT [FK_ALLDATA_ROLE]
GO
ALTER TABLE [dbo].[ALLDATA]  WITH CHECK ADD  CONSTRAINT [FK_ALLDATA_TYPEENTER] FOREIGN KEY([IDTYPEENTRE])
REFERENCES [dbo].[TYPEENTER] ([ID])
GO
ALTER TABLE [dbo].[ALLDATA] CHECK CONSTRAINT [FK_ALLDATA_TYPEENTER]
GO
USE [master]
GO
